Equirements for the black jack game:-
                 ###Command to open the Pyt_Dep external librarybin####
######################source ~/Pyt_Dep/bin/activate################################

    --Pyinstaller for makeing the game into exe or linux supporting binaries.
    --Arcade for game making and animations, menu and shi.
    --Piskel for making pixel art for cards and teh menu and shi.
    --Sci-learn, PyTorch for ML models for difficulty condtrol.
    

    --Person wise work:-
        -Person One for Designing the game using Python Arcade library making essential the whole system like the menu window and the animations
        sprite and player info and shi.

        -Person Two for making the Machine Learning model to make the difficulty of the game making modes like easy, normal, hard and 
        impossible. This also writes the code for the logic behind the card game, like winning and shi.

        -Person Three for making the pixel art for cards, menu, music, UI, animations and shi. Basically all the artistary or Front-end shi.


    --Resources basic -_-
        -For Pixel art -- https://www.youtube.com/watch?v=DKmrBUpd0yw
        -For Arcade -- api.arcade.academy 



Ideas for the game:-
    --The Game wiht have all the cards from Ace all the way to King with an Extra special card with that is the Fool.
        -The fool or joker card can only be draw meaning it won't be dealt to you initially The fool had a random chance fo swapning
            when you choose to draw another card.
        -When The Fool is drawn the game will stop and the mascot will appear on the screen and say "What is the most you have ever in
            a coin toss???" and then tosses the coin, then it will ask the player to call adn two options will appear <HEADS> and <TAILS>
                and the options will be cards with HEADs and TAILs made on the repectively.
        -If the player wins the toss then they will be spared and if they were to lose, well we will figure something out.




BlackJack Game Rules :--
    -The Dealer must 
